body {
   background-color: #EDD4D4;
   margin-bottom: 50rem;
}

.card-container {
   /*justify-content: space-evenly;*/
   margin-top: 1rem;



}
.card {
   margin-top: 2rem;
}


.second-button-card {
   margin-left: 7.5rem;
}