body {
   background-color: #EDD4D4;
   margin-bottom: 50rem;
}

.card-container {
   margin-top: 1rem;
}
.card {
   margin-top: 2rem;
   margin-left: 3rem;
}


.second-button-card {
   margin-left: 4.5rem;
}
h3{
   display: inline-block;
   padding-bottom: 0;
}

.no-data {
   margin-top: 3rem;
   margin-bottom: 3rem;
   text-align: center;
}


.activeLinkClass {
   background-color: #e5afaf;
   color: cornsilk;
}
.delete_button {
   background-color: #e3cbcb;
}
@media  (max-width: 794px) {
.test{
   justify-content: center;
}
   .card{
      margin-left: 0;
   }
}
